<form [formGroup]="formData">
    <div class="form-group">
        <label for="firstName">FirstName</label>
        <input type="text" formControlName="firstName" class="form-control" id="firstName" placeholder="Enter firstName">
    </div>
    <div class="form-group">
        <label for="lasstName">LastName</label>
        <input type="text" formControlName="lastName" class="form-control" id="lastName" placeholder="Enter lasstName">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" formControlName="email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="dob">Dob</label>
        <input type="text" formControlName="dob" class="form-control" id="dob" placeholder="DOB">
    </div>
    <div class="form-group">
        <label for="roll">Roll</label>
        <input type="text" formControlName="roll" class="form-control" id="roll" placeholder="your role">
    </div>
    <button type="submit" class="btn btn-primary" (click)="signUp()" >SignUP</button>
</form>